{% extends "home/homebase.html" %}


{% block content %}

<div class="banner-center">

        <div class="container">

            <div class="row">
                    <h1>About Us</h1>
                    <h3>Science Alliance Network</h3>
                    <hr class="intro-divider">                
            </div>

        </div>
    </div>

<div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">About The Program</h2>
                    <p class="lead">
                        Science Alliance is a student-run mentorship program that aims to help foster a passion for science among younger students at an early age. High school students mentors are paired with motivated younger student buddies (typically 5th graders, but may also be middle school students). Mentors guide these intellectually curious buddies through a science fair project of their choosing.
                        <br /><br />
                        Along the way, these buddies are introduced to investigative science, develop basic skills in planning, executing, and reporting their activities, and get better prepared for middle school lab science. The culminating event of the year is a science fair, organized and run by the high school students, where the buddies can display their projects and show off their knowledge. For mentors, this provides them an opportunity to get involved with a meaningful community service, to act as a positive role model for younger students, and to strengthen their leadership and personal skills.
                        <br /><br />
                        Science Alliance Network is designed to help schools create Science Alliance programs, and generate interest in science among youth.
                    </p>
                </div>
                <div class="col-md-2"></div>
            </div>

        </div>
        <!-- /.container -->

    </div>

{% endblock %}