{% extends "home/homebase.html" %}

{% block content %}
<h2>About Us</h2>
<hr>
<div class="row">
    <div class="col-md-10">
        <h3>About The Program</h3>
        <p>
            Science Alliance is a student-run mentorship program that aims to help foster a passion for science among younger students at an early age. High school students mentors are paired with motivated younger student buddies (typically 5th graders, but may also be middle school students). Mentors guide these intellectually curious buddies through a science fair project of their choosing.
            <br /><br />
            Along the way, these buddies are introduced to investigative science, develop basic skills in planning, executing, and reporting their activities, and get better prepared for middle school lab science. The culminating event of the year is a science fair, organized and run by the high school students, where the buddies can display their projects and show off their knowledge. For mentors, this provides them an opportunity to get involved with a meaningful community service, to act as a positive role model for younger students, and to strengthen their leadership and personal skills.
            <br /><br />
            Science Alliance Network is designed to help schools create Science Alliance programs, and generate interest in science among youth.
        </p>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <h3 style="padding-bottom:70px;">Meet the Team</h3>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="card card-user">
            <div class="content">
                <div class="author">
                    <img class="avatar border-gray" src="{{ url_for( 'static', filename='img/team/christina.jpg' ) }}" alt="..."/>

                      <h4 class="title">Christina Ren<br />
                         <small>Executive Board</small>
                      </h4>
                </div>
                <p class="description text-center">Stanford University Class of 2018</p>
            </div>
            <hr>
            <div class="text-center">
                <a href="mailto:christinaren@gmail.com" class="btn btn-simple"><i class="fa fa-envelope-o"></i></a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card-user">
            <div class="content">
                <div class="author">
                    <img class="avatar border-gray" src="{{ url_for( 'static', filename='img/team/brian.jpg' ) }}" alt="..."/>

                      <h4 class="title">Brian Yu<br />
                         <small>Executive Board</small>
                      </h4>
                </div>
                <p class="description text-center">Harvard College Class of 2019</p>
            </div>
            <hr>
            <div class="text-center">
                <a href="mailto:brianyu28@gmail.com" class="btn btn-simple"><i class="fa fa-envelope-o"></i></a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card-user">
            <div class="content">
                <div class="author">
                    <img class="avatar border-gray" src="{{ url_for( 'static', filename='img/team/sarah.jpg' ) }}" alt="..."/>

                      <h4 class="title">Sarah Joo<br />
                         <small>Executive Board</small>
                      </h4>
                </div>
                <p class="description text-center">Yale College Class of 2020</p>
            </div>
            <hr>
            <div class="text-center">
                <a href="mailto:sarah.joo@gmail.com" class="btn btn-simple"><i class="fa fa-envelope-o"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="content">
                <div class="author" style="text-align:center;">
                      <h4 class="title">Founders<br /></h4>
                </div>
                <p class="description text-center">
                    <b>Christina Ren</b><br /> Stanford University Class of 2018 <br /><br />
                    <b>Patti Carothers</b><br /> Director, Alameda County Science and Engineering Fair
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="content">
                <div class="author" style="text-align:center;">
                      <h4 class="title">Advisors<br /></h4>
                </div>
                <p class="description text-center">
                    <b>Patti Carothers</b><br /> Director, Alameda County Science and Engineering Fair <br /><br />
                    <b>Linda Bandrowski</b><br /> Advisor, Monte Vista High School Science Alliance <br /><br />
                    <b>Courtney Corda</b><br /> Advisor, Science Buddies <br /><br />
                    <b>Robin Groch</b><br /> Advisor, San Ramon Valley High School Science Alliance<br /><br />
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="content">
                <div class="author" style="text-align:center;">
                      <h4 class="title">Web Design<br /></h4>
                </div>
                <p class="description text-center">
                    <b>Brian Yu</b><br /> Harvard College Class of 2019 <br /><br />
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block script %}
<script>
$(document).ready(function() {
    $('#sidebar-about').addClass('active');   
});
</script>
{% endblock %}