{% extends "home/homebase.html" %}


{% block content %}
<h2>Contact Us</h2>
<hr>


<div class="row">
    <div class="col-md-10">
        <h3>Reach the Team</h3>
        <p>
            If you have questions, issues, or are interested in starting a Science Alliance branch of your own, please reach out to Brian Yu at <a href="mailto:brianyu28@gmail.com">brianyu28@gmail.com</a>.
        </p>
    </div>
    <div class="col-md-2"></div>
</div>

{% endblock %}


{% block script %}
<script>
$(document).ready(function() {
    $('#sidebar-contact').addClass('active');   
});
</script>
{% endblock %}