{% extends "home/homebase.html" %}


{% block content %}
<h2>Getting Started</h2>
<hr>
<div class="row">
    <div class="col-md-10">
        <h3>For Students:</h3>
        <p>
            If you have yet to sign up for Science Alliance Network, start by <a href={{ url_for('home.register') }}>registering for an account</a>.
        </p>
    </div>
    <div class="col-md-2"></div>
</div>

{% endblock %}


{% block script %}
<script>
$(document).ready(function() {
    $('#sidebar-getstarted').addClass('active');   
});
</script>
{% endblock %}