{% extends "base.html" %}

{% block sidebar %}
<li id="sidebar-home">
    <a href="{{ url_for('home.homepage') }}">
        <p><i class="fa fa-home fa-fw"></i>&nbsp;&nbsp;Home</p>
    </a>
</li>
<li id="sidebar-login">
    <a href="{{ url_for('home.login') }}">
        <p><i class="fa fa-sign-in fa-fw"></i>&nbsp;&nbsp;Log In</p>
    </a>
</li>
<li id="sidebar-register">
    <a href="{{ url_for('home.register') }}">
        <p><i class="fa fa-user fa-fw"></i>&nbsp;&nbsp;Register</p>
    </a>
</li>
<li id="sidebar-about">
    <a href="{{ url_for('home.about') }}">
        <p><i class="fa fa-info-circle fa-fw"></i>&nbsp;&nbsp;About Us</p>
    </a>
</li>
<li id="sidebar-getstarted">
    <a href="{{ url_for('home.getstarted') }}">
        <p><i class="fa fa-flask fa-fw"></i>&nbsp;&nbsp;Get Started</p>
    </a>
</li>
<li id="sidebar-contact">
    <a href="{{ url_for('home.contact') }}">
        <p><i class="fa fa-envelope-o fa-fw"></i>&nbsp;&nbsp;Contact Us</p>
    </a>
</li>
{% endblock %}