{% extends "home/homebase.html" %}

{% block content %}
<h2>Science Alliance Network</h2>
<hr>
<div class="row">
    <div class="col-lg-4 col-md-3 col-sm-2"></div>
    <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card" style="text-align:center;">
            <div class="header">
                <h4 class="title">Log In</h4></div>
            <div class="content">
                <form method="post" action={{ url_for( 'home.login') }}>
                    <input style="margin-bottom:10px;" class="form-control home-form" type="text" name="username" placeholder="Username" autofocus>
                    <input class="form-control home-form" type="password" name="password" placeholder="Password">
                    <br />
                    <button type="submit" class="btn btn-default"><span class="network-name">Log In</span></button>
                </form>
                <hr>
                <a class="register-link" href={{ url_for( 'home.register') }}>Need an account? Register here.</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-2"></div>
</div>

<div class="row">
    <hr>
    <div class="col-md-7 col-sm-6">
        <h3>Welcome to Science Alliance.</h3>
        <p><b>Science Alliance</b> is a program designed to provide mentorship to young students interested in science research.
            <br />
            <br /> The Science Alliance Network website provides a variety of online resources that make it easy for school districts to organize their own science fairs, and facilitate the process of mentoring young students in their pursuit of scientific research. Science Alliance Network aims to give high schools the resources they need to start their own Science Alliance programs, and provide easy-to-access web services that enhance the science fair process. </p>
    </div>
    <div class="col-md-5 col-sm-6"> <img class="img-responsive" src={{ url_for( 'static', filename='img/mainpage_1.jpg' ) }} alt=""></div>
</div>

<div class="row">
   <hr>
    <div class="col-md-5 col-sm-6"> <img class="img-responsive" src={{ url_for( 'static', filename='img/mainpage_2.jpg' ) }} alt=""></div>
    <div class="col-md-7 col-sm-6">
        <h3>Our Mission</h3>
        <p> The mission of Science Alliance Network is to develop innovative programs to help young students get involved in first-hand scientific research, exploration and investigation. We believe these programs inspire a passion for science and nurture inquisitive habits and reasoning skills. To achieve this goal, Science Alliance Network is focused on fostering Science Alliance branches nationwide. SAN offers many resources to make it easy for high school students and teachers to jump-start their own Science Alliance programs in their local area. </p>
    </div>
</div>
{% endblock %}


{% block script %}
<script>
$(document).ready(function() {
    $('#sidebar-home').addClass('active');   
});
</script>
{% endblock %}