{% extends "home/homebase.html" %}


{% block content %}

<div class="banner-center">

        <div class="container">

            <div class="row">
                    <h1>Log In</h1>
                    <h3>Science Alliance Network</h3>
                    <hr class="intro-divider">                
            </div>

        </div>
    </div>

<div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Log In is not yet available.</h2>
                    <p class="lead">
                        This feature is currently under construction.
                    </p>
                </div>
                <div class="col-md-2"></div>
            </div>

        </div>


    </div>

{% endblock %}