{% extends "home/homebase.html" %}


{% block content %}

<div class="banner-center">

        <div class="container">

            <div class="row">
                    <h1>Log In</h1>
                    <h3>Science Alliance Network</h3>
                    <hr class="intro-divider">                
            </div>

        </div>
    </div>

<div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Log In to Science Alliance.</h2>
                    <p class="lead">
                        <form method="post" action={{ url_for('home.login') }}>
                            <input type="text" class="form-control" name="username" placeholder="Username" autofocus>
                            <input type="password" class="form-control" name="password" placeholder="Password">
                            <button type="submit" class="btn btn-default">Log In</button>
                        </form>
                    </p>
                </div>
                <div class="col-md-5"></div>
            </div>

        </div>


    </div>

{% endblock %}