{% extends "home/homebase.html" %}

{% block content %}
<h1>Log In</h1>
<hr>

{% if error is defined %}
<div class="alert alert-danger"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <strong>Error:</strong> {{ error }} </div>
{% endif %}

<div class="row" style="text-align:center;">
    <div class="col-lg-4 col-md-3 col-sm-2"></div>
    <div class="col-lg-4 col-md-6 col-sm-8">
        <h2>Log In to Science Alliance</h2>
        <form method="post" action={{ url_for( 'home.login') }}>
            <input style="margin-bottom:10px;" type="text" class="form-control" name="username" placeholder="Username" autofocus>
            <input type="password" class="form-control" name="password" placeholder="Password">
            <br />
            <button type="submit" class="btn btn-default">Log In</button>
        </form>
        <hr> <a class="register-link" href={{ url_for( 'home.register') }}>Need an account? Register here.</a> </div>
    <div class="col-lg-4 col-md-5 col-sm-2"></div>
</div>
{% endblock %}


{% block script %}
<script>
$(document).ready(function() {
    $('#sidebar-login').addClass('active');   
});
</script>
{% endblock %}