{% extends "messenger/messengerbase.html" %}

{% block head %}
<style>
    .current-convo {
        background-color: #ffff66;
    }

    td:hover {
        background-color: #ffffe6;
    }

    .current-convo {
      background-color: #ffff66 !important;
    }
    
    textarea {
        resize: vertical;
    }
</style>
{% endblock %}

{% block contents %}
<div class="row">
   <div class="col-lg-3 col-md-4 col-sm-4">
        <table class="table table-hover">
            <thead>
                <th>Conversations <button data-toggle="modal" data-target="#add-convo-modal" class="btn btn-xs btn-primary" style="float:right;">New</button></th>
            </thead>
            <tbody style="font-size:14px;" id="convo-table-body">
                <tr><td>Loading...</td></tr>
            </tbody>
        </table>
   </div>

   <div id="conversation-div" class="col-lg-9 col-md-8 col-sm-8">
     <div class="card">
         <div style="padding-bottom:10px;" class="header">
             <h4 class="title">Conversation<span id="refresh-span"></span></h4>
             <span id="members-span"></span>
         </div>
     </div>

     <div style="padding-bottom:10px;" class="card">
         <div class="header">
             <h4 class="title">Compose Message</h4>
           </div>
             <div class="contents" style="padding-left:10px;padding-right:10px;">
              <input id="compose-subject" class="form-control" placeholder="Subject" /><br />
              <textarea id="compose-message" class="form-control" rows="5" placeholder="Message"></textarea>
              <br  />
              <span id="send-button-span"></span>
          </div>
     </div>

     <div style="padding-bottom:10px;" class="card">
          <div class="contents" style="padding-top:10px;padding-left:10px;padding-right:10px;">
              <span id="message-span" style="white-space:pre-line;"></span>
          </div>
     </div>


     </div>
</div>

{% endblock %}

{% block outerbody %}
<div id="add-convo-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
{% endblock %}


{% block script %}
{{ super() }}
<script>
$(document).ready(function() {
    $("#navbar-messages").addClass('active');
    $('#conversation-div').hide();
    getConversations('');
    
    {% if selected != None %}
    showConversation("{{ selected }}");
    {% endif %}
});
     
function getConversations(convo_id) {
    $.post("{{ url_for('ajax.get_conversations') }}", {}, function(data, textStatus) {
        conversations = data["conversations"];
        convo_table = "";
        for (var i = 0; i < conversations.length; i++) {
            convo_table += '<tr><td id="conversation-' + conversations[i]["_id"] + '" onclick=showConversation("' + conversations[i]["_id"] + '")>';
            convo_table += conversations[i]["name"] + "<br />";
            convo_table += '<small>' + conversations[i]["timestamp"] + '</small>';
            convo_table += '</td></tr>';
        }
        $('#convo-table-body').html(convo_table);
        
        if (convo_id != '') {
            $('#conversation-' + convo_id).addClass("current-convo");
        }
    });
}

function showConversation(convo_id) {
   history.pushState({}, document.title, '/messenger/' + convo_id + '/');
   $("td").removeClass("current-convo");
   $("#conversation-" + convo_id).addClass("current-convo");
    var parameters = {
      conversation_id: convo_id
    }

    $.post("{{ url_for('ajax.messages_in_conversation') }}", parameters, function(data, textStatus) {
      members = data["members"];
      messages = data["messages"];

     members_html = "";
      for (var i = 0; i < members.length; i++) {
        members_html += members[i] + '<br  />';
      }
      $('#members-span').html(members_html);
      $('#send-button-span').html('<button onclick=sendMessage("' + convo_id + '") class="btn btn-sm btn-primary">Send</button>');
      $('#refresh-span').html('<button onclick=showConversation("' + convo_id + '") style="float:right;" class="btn btn-primary btn-xs">Refresh</button>');
      $('#conversation-div').show();
      $('#compose-subject').focus();

      messages_html = "";
      for (var i = 0; i < messages.length; i++) {
        // include the message here
          messages_html += messageHTML(messages[i]["author"], messages[i]["subject"], messages[i]["timestamp"], messages[i]["body"]);
      }

      $('#message-span').html(messages_html);
        
        getConversations(convo_id);

    }, "json");
}

function sendMessage(convo_id) {
  var parameters = {
    conversation_id: convo_id,
    subject: $('#compose-subject').val(),
    message: $('#compose-message').val()
  }

  $.post("{{ url_for('ajax.send_message') }}", parameters, function(data, textStatus) {
        $('#message-span').html(messageHTML("{{ user.first }} {{ user.last }}", $('#compose-subject').val(), "Just Now", $('#compose-message').val()) + $('#message-span').html());
      getConversations(convo_id);
  }, "json");
}
    
function messageHTML(author, subject, timestamp, body) {
    html = "<b>" + author + ": " + subject + "</b><br />";
    html += "<small>" + timestamp + "</small><br />";
    html += body + "<br /><hr>";
    return html
}


</script>
{% endblock %}
