{% extends "base.html" %}

{% block sidebar %}
<li id="sidebar-portal">
   <a href="{{ url_for('portal.portal_page') }}">
        <p><i class="fa fa-home fa-fw"></i>Home</p>
    </a>
</li>

{% if user.acct_type == "Mentor" or user.acct_type == "Student" %}
<li id="sidebar-project">
    <a href="#">
        <p><i class="pe-7s-science"></i>Project</p>
    </a>
</li>
{% endif %}

{% if user.acct_type == "Mentor" %}
<li id="sidebar-settings">
    <a href="#">
        <p><i class="pe-7s-graph2"></i>Progress Report</p>
    </a>
</li>
{% endif %}

<li id="sidebar-settings">
    <a href="#">
        <p><i class="pe-7s-chat"></i>Messenger</p>
    </a>
</li>
<li id="sidebar-settings">
    <a href="#">
        <p><i class="fa fa-gears fa-fw"></i>Settings</p>
    </a>
</li>
<li id="sidebar-resources">
    <a href="#">
        <p><i class="pe-7s-copy-file"></i>Resources</p>
    </a>
</li>

<li id="sidebar-logout">
    <a href="{{ url_for('portal.logout') }}">
        <p><i class="pe-7s-power"></i>Log Out</p>
    </a>
</li>
{% endblock %}