{% extends "base.html" %}

{% block sidebar %}
<li id="sidebar-portal">
   <a href="{{ url_for('portal.portal_page') }}">
        <p><i class="fa fa-home fa-fw"></i>&nbsp;&nbsp;Home</p>
    </a>
</li>
<li id="sidebar-fair">
   <a href="{{ url_for('fair.fair_page') }}">
        <p><i class="fa fa-trophy fa-fw"></i>&nbsp;&nbsp;Fair</p>
    </a>
</li>

{% if user.acct_type == "Administrator" %}
<li id="sidebar-participants">
   <a href="{{ url_for('participants.roster') }}">
        <p><i class="fa fa-users fa-fw"></i>&nbsp;&nbsp;Roster</p>
    </a>
</li>
{% endif %}

{% if user.acct_type == "Mentor" or user.acct_type == "Student" %}
<li id="sidebar-project">
    <a href="{{ url_for('project.project_page') }}">
        <p><i class="fa fa-flask fa-fw"></i>&nbsp;&nbsp;Project</p>
    </a>
</li>
{% endif %}

{% if user.acct_type == "Mentor" %}
<li id="sidebar-progress">
    <a href="{{ url_for('progress.mentor_progress') }}">
        <p><i class="fa fa-th-list fa-fw"></i>&nbsp;&nbsp;Progress Report</p>
    </a>
</li>
{% endif %}

<li id="sidebar-messenger">
    <a href="{{ url_for('messenger.message_page') }}">
        <p><i class="fa fa-comments-o fa-fw"></i>&nbsp;&nbsp;Messenger</p>
    </a>
</li>
<li id="sidebar-settings">
    <a href="#">
        <p><i class="fa fa-gears fa-fw"></i>&nbsp;&nbsp;Settings</p>
    </a>
</li>
<li id="sidebar-resources">
    <a href="#">
        <p><i class="fa fa-copy fa-fw"></i>&nbsp;&nbsp;Resources</p>
    </a>
</li>

<li id="sidebar-logout">
    <a href="{{ url_for('portal.logout') }}">
        <p><i class="fa fa-sign-out fa-fw"></i>&nbsp;&nbsp;Log Out</p>
    </a>
</li>

{% endblock %}