{% extends "settings/settingsbase.html" %}

{% block contents %}

<div class="row">
    <div class="card">
        <div class="header">
            <h4 class="title">Change Password</h4>
        </div>
        <div class="content">
           <div class="row">
                <div class="col-sm-12">
                    <input class="form-control" id="old-pass" type="password" placeholder="Old Password"><br/>
                    <input class="form-control" id="new-pass" type="password" placeholder="New Password"><br/>
                    <input class="form-control" id="confirm-new-pass" type="password" placeholder="Confirm New Password"><br/>
                    <button onclick="changePass()" class="btn btn-sm btn-primary">Change Password</button> <span id="pass-change-area"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="card">
        <div class="header">
            <h4 class="title">Change Email</h4>
        </div>
        <div class="content">
           <div class="row">
                <div class="col-sm-12">
                    <b>Current Email Address:</b> <span id="current-email">{{ user.email }}</span>
                    <br/><br/>
                    <input class="form-control" id="new-email" type="text" placeholder="New Email Address"><br/>
                    <button onclick="changeEmail()" class="btn btn-sm btn-primary">Change Email</button> <span id="email-change-area"></span>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block script %}
{{ super() }}
<script>
$(document).ready(function() {
    $("#navbar-settings").addClass('active');
});
    
function changePass() {
    var parameters = {
        old_pass: $('#old-pass').val(),
        new_pass: $('#new-pass').val(),
        confirm_new_pass: $('#confirm-new-pass').val()
    }
    
    $.post("{{ url_for('ajax.change_password') }}", parameters, function(data, textStatus) {
        $('#old-pass').val('');
        $('#new-pass').val('');
        $('#confirm-new-pass').val('');
        if (!data["success"])
            $('#pass-change-area').html(data["reason"]);
        else
            $('#pass-change-area').html('Password changed successfully.');
    });
}
    
function changeEmail() {
    var parameters = {
        email: $('#new-email').val()
    }
    
    $.post("{{ url_for('ajax.change_email') }}", parameters, function(data, textStatus) {
        $('#current-email').html($('#new-email').val());
        $('#new-email').val('');
        $('#email-change-area').html('Email changed successfully.');
    });
}
    
</script>
{% endblock %}