{% extends "settings/settingsbase.html" %}

{% block contents %}

<div class="row">
    <div class="card">
        <div class="header">
            <h4 class="title">Preferences</h4>
        </div>
        <div class="content">
            <table class="table table-hover table-striped" style="font-size:14px;">
                <thead>
                    <tr>
                        <th>Option</th>
                        <th>Toggle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Email Notifications: <b>{% if user['settings']['notifications'] %}ON{% else %}OFF{% endif %}</b></td>
                        <td>
                            {% if user['settings']['notifications'] %}
                            <button onclick=modifyNotify(true) class="btn btn-xs btn-primary">Turn Off</button>
                            {% else %}
                            <button onclick=modifyNotify(false) class="btn btn-xs btn-primary">Turn On</button>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="card">
        <div class="header">
            <h4 class="title">Additional Contacts</h4>
        </div>
        <div class="content">
            <h6>Email Addresses <button onclick=showAddEmail() style="margin-left:5px;" class="btn btn-xs btn-primary">Add</button></h6>
            <table class="table table-hover table-striped" style="font-size:14px;">
                <thead>
                    <tr>
                        <th>Delete</th>
                        <th>Email Address</th>
                    </tr>
                </thead>
                <tbody>
                    {% for email in user.contact_emails %}
                    <tr>
                        <td><button onclick=deleteContactEmail("{{ email }}") class="btn btn-xs btn-danger">Delete</button></td>
                        <td>{{ email }}</td>
                    </tr>
                    {% endfor %}
                    {% if user.contact_emails|length == 0 %}
                    <tr>
                        <td colspan=2>No additional email contacts.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="card">
        <div class="header">
            <h4 class="title">Change Email</h4>
        </div>
        <div class="content">
           <div class="row">
                <div class="col-sm-12">
                    <b>Current Email Address:</b> <span id="current-email">{{ user.email }}</span>
                    <br/><br/>
                    <input class="form-control" id="new-email" type="text" placeholder="New Email Address"><br/>
                    <button onclick="changeEmail()" class="btn btn-sm btn-primary">Change Email</button> <span id="email-change-area"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="card">
        <div class="header">
            <h4 class="title">Change Password</h4>
        </div>
        <div class="content">
           <div class="row">
                <div class="col-sm-12">
                    <input class="form-control" id="old-pass" type="password" placeholder="Old Password"><br/>
                    <input class="form-control" id="new-pass" type="password" placeholder="New Password"><br/>
                    <input class="form-control" id="confirm-new-pass" type="password" placeholder="Confirm New Password"><br/>
                    <button onclick="changePass()" class="btn btn-sm btn-primary">Change Password</button> <span id="pass-change-area"></span>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block outerbody %}
<div id="add-email-modal" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="fair-detail-header">Add Contact Email</h4>
      </div>
      <div class="modal-body">
        <input autocomplete="off" type="email" class="form-control" id="new-contact-email" placeholder="Email"><br />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick=addContactEmail()>Add</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block script %}
{{ super() }}
<script>
$(document).ready(function() {
    $("#navbar-settings").addClass('active');
});
    
function changePass() {
    var parameters = {
        old_pass: $('#old-pass').val(),
        new_pass: $('#new-pass').val(),
        confirm_new_pass: $('#confirm-new-pass').val()
    }
    
    $.post("{{ url_for('ajax.change_password') }}", parameters, function(data, textStatus) {
        $('#old-pass').val('');
        $('#new-pass').val('');
        $('#confirm-new-pass').val('');
        if (!data["success"])
            $('#pass-change-area').html(data["reason"]);
        else
            $('#pass-change-area').html('Password changed successfully.');
    });
}
    
function changeEmail() {
    var parameters = {
        email: $('#new-email').val()
    }
    
    $.post("{{ url_for('ajax.change_email') }}", parameters, function(data, textStatus) {
        $('#current-email').html($('#new-email').val());
        $('#new-email').val('');
        $('#email-change-area').html('Email changed successfully.');
    }, "json");
}
    
function showAddEmail() {
    $('#add-email-modal').modal();
}
    
function addContactEmail() {
    var parameters = {
        email: $('#new-contact-email').val()
    }
    
    $.post("{{ url_for('ajax.add_contact_email') }}", parameters, function(data, textStatus) {
        location.reload(true);
    }, "json");
}
    
function deleteContactEmail(email) {
    var parameters = {
        email: email
    }
    
    $.post("{{ url_for('ajax.delete_contact_email') }}", parameters, function(data, textStatus) {
        location.reload(true);
    }, "json");
}
    
</script>
{% endblock %}