{% extends "fair/fairbase.html" %}

{% block contents %}

<div class="row">
    <div class="card">
        <div class="header">
            <h4 class="title">Pair Mentors with Mentor Trainers</h4>
        </div>
        <div class="content">
           <div class="row">
                <div class="col-sm-6">
                    <select id="mentor-select" class="form-control">
                        <option value=0 disabled selected>Select a Mentor</option>
                    </select>
                    <input type="checkbox" id="mentor-repeats"> Show already paired mentors
                </div>
                <div class="col-sm-6">
                    <select id="trainer-select" class="form-control">
                        <option value=0 disabled selected>Select a Trainer</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                       <br />
                    <button onclick="pair()" class="btn btn-primary">Pair</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="card">
        <div class="header">
            <h4 class="title">Announcements</h4>
        </div>
        <div class="content">
            <table id="pairing-table" class="table table-striped table-bordered" style="font-size:14px;" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Mentor</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                   
                    {% for pairing in pairings %}
                    <tr>
                    <td>{{ pairing['mentor']['first'] }} {{ pairing['mentor']['last'] }}</td>
                    <td>{{ pairing['trainer']['first'] }} {{ pairing['trainer']['last'] }}</td>
                    <td><button onclick="removePairing('{{ pairing['_id']|string }}')" class="btn btn-xs btn-danger">Delete Pairing</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
{{ super() }}
<script>
$(document).ready(function() {
    $("#navbar-announcements").addClass('active');
    $('#announcements-table').DataTable();
});

</script>
{% endblock %}