{% extends "fair/fairbase.html" %}

{% block contents %}

<div class="row">
    <div class="card">
        <div class="header">
            <h4 class="title">Post New Announcement</h4>
        </div>
        <div class="content">
           <div class="row">
               <div class="col-sm-12">
                   <input style="margin-bottom:10px;" class="form-control" type="text" id="announcement-title" placeholder="Announcement Title">
                   <textarea class="form-control" id="announcement-contents" placeholder="Announcement" rows="5"></textarea>
               </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                       <br />
                    <button onclick="postAnnouncement()" class="btn btn-primary">Post Announcement</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="card">
        <div class="header">
            <h4 class="title">Announcements</h4>
        </div>
        <div class="content">
            <table id="announcements-table" class="table table-striped table-bordered" style="font-size:14px;" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Announcement</th>
                        <th>Date</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                   {% for announcement in announcements %}
                    <tr>
                        <td><b>{{ announcement.title }}</b><br />{{ announcement.contents }}</td>
                        <td>{{ announcement.datetime }}</td>
                        <td><button onclick="deleteAnnouncement('{{ announcement['_id'] }}')" class="btn btn-danger btn-xs">Delete</button></td>
                    </tr>
                   {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
{{ super() }}
<script>
$(document).ready(function() {
    $("#navbar-announcements").addClass('active');
    $('#announcements-table').DataTable();
});
    
function postAnnouncement() {
    var parameters = {
        fair: "{{ fair['_id']|string }}",
        author: "{{ user['_id']|string }}", 
        title: $('#announcement-title').val(), 
        contents: $('#announcement-contents').val()
    }
    
    $.post("{{ url_for('ajax.post_announcement') }}", parameters, function(data, textStatus) {
        location.reload(true);
    }, "json");
}
    
function deleteAnnouncement(id) {
    var parameters = {
        id: id
    }
    
    $.post("{{ url_for('ajax.remove_announcement') }}", parameters, function(data, textStatus) {
        location.reload(true);
    }, "json");
}

</script>
{% endblock %}