{% extends "portal/portalbase.html" %}

{% block content %}
<h2>Fair</h2>
<hr>
<div class="row">
    <ul class="nav nav-tabs">
      <li id="navbar-manage"><a href="{{ url_for('fair.manage') }}">Manage</a></li>
      
      {% if user.acct_type == "Administrator" %}
      <li id="navbar-requests"><a href="{{ url_for('fair.requests') }}">Requests</a></li>
      <li id="navbar-pairings"><a href="{{ url_for('fair.pair') }}">Pairings</a></li>
      <li id="navbar-trainers"><a href="{{ url_for('fair.trainers') }}">Trainers</a></li>
      <li id="navbar-announcements"><a href="#">Announcements</a></li>
      <li id="navbar-permissions"><a href="#">Permissions</a></li>
      {% elif user.acct_type == "Mentor" %}
      <li id="navbar-partner"><a href="#">Student</a></li>
      {% elif user.acct_type == "Student" %}
      <li id="navbar-partner"><a href="#">Mentor</a></li>
      {% endif %}
    </ul>
</div>
<br />
{% block contents %}{% endblock %}
{% endblock %}


{% block script %}
<script>
$(document).ready(function() {
    $('#sidebar-fair').addClass('active');   
});
</script>
{% endblock %}