{% extends "portal/portalbase.html" %}

{% block content %}
<h2>Fair</h2>
<hr>
<div class="row">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">Manage</a></li>
      <li><a href="#">Menu 1</a></li>
      <li><a href="#">Menu 2</a></li>
      <li><a href="#">Menu 3</a></li>
    </ul>
</div>
<br />
{% block contents %}{% endblock %}
{% endblock %}


{% block script %}
<script>
$(document).ready(function() {
    $('#sidebar-fair').addClass('active');   
});
</script>
{% endblock %}