{% extends "fair/fairbase.html" %}

{% block contents %}

<div class="row">
    <div class="card">
        <div class="header">
            <h4 class="title">Current Fairs</h4>
        </div>
        <div class="content">
            Current fairs listed here.
        </div>
    </div>
</div>

{% if user.acct_type == "Administrator" %}
<div class="row">
    <div class="card">
        <div class="header">
            <h4 class="title">Create a Fair</h4>
        </div>
        <div class="content">
            Create a fair content.
        </div>
    </div>
</div>
{% endif %}

{% endblock %}


{% block script %}
{{ super() }}
<script>
$(document).ready(function() {
   $('#navbar-manage').addClass('active'); 
});
</script>
{% endblock %}