{% extends "fair/fairbase.html" %}

{% block contents %}

<div class="row">
    <div class="card">
        <div class="header">
            <h4 class="title">Current Fairs</h4>
        </div>
        <div class="content">
            Current fairs listed here.
        </div>
    </div>
</div>

{% if user.acct_type == "Administrator" %}
<div class="row">
    <div class="card">
        <div class="header">
            <h4 class="title">Create a Fair</h4>
        </div>
        <div class="content">
        <form method="post">
          <input name="type" type="hidden" value="Register" />
           <input name="name" class="form-control" placeholder="Fair Name">
            <br />
        
            <div class="input-group input-append date">
                <input id="datepicker" type="text" class="form-control" name="date" placeholder="Fair Date" />
                <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            <br />
            <input name="location" class="form-control" placeholder="Fair Location">
            <br />
            <input type="checkbox" name="private" value="private" checked=true> Private Fair
            <br />
            <p><small>A private fair requires students and mentors to get approval before joining. Anyone can join a public fair without approval.</small></p>
            <br /><br />
            <button class="btn btn-primary" type="submit">Create Fair</button>
        </form></div>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="card">
        <div class="header">
            <h4 class="title">Join a Fair</h4>
        </div>
        <div class="content">
            Join fair goes here.
        </div>
    </div>
</div>

{% endblock %}


{% block script %}
{{ super() }}
<script>
$(document).ready(function() {
   $('#navbar-manage').addClass('active'); 
    $( "#datepicker" ).datepicker();
});
</script>
{% endblock %}