{% extends "fair/fairbase.html" %}

{% block contents %}

{% if error is defined and error != None %}
<div class="alert alert-danger"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <strong>Error:</strong> {{ error }} </div>
{% endif %}

<div class="row">
    <div class="card">
        <div class="header">
            <h4 class="title">Current Fairs</h4>
        </div>
        <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped" style="font-size:14px;">
                <thead>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Primary</th>
                </thead>
                <tbody>
                    {% for fair in registration %}
                    
                    {# if admin, allow for editing #}
                    {% if user.acct_type == "Administrator" %}
                    <tr onclick="fairDetails(event, '{{ fair['_id']|string }}')">
                    {% else %}
                    <tr>
                    {% endif %}
                        <td>{{ fair.name }}</td>
                        <td>{{ fair.date }}</td>
                        <td>{{ fair.location }}</td>
                        <td onclick="">{% if fair['_id'] == user['primary'] %}Primary{% else %}<button onclick="makePrimary('{{ fair['_id']|string }}')" class="btn btn-xs btn-default">Make Primary</button>{% endif %}</td>
                    </tr>
                    {% endfor %}
                    {% if registration|length == 0 %}
                    <tr>
                        <td colspan="4">You are not currently registered for any fairs.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% if user.acct_type == "Administrator" %}
<div class="row">
    <div class="card">
        <div class="header">
            <h4 class="title">Create a Fair</h4>
        </div>
        <div class="content">
        <form method="post">
          <input name="type" type="hidden" value="Register" />
           <input name="name" class="form-control" placeholder="Fair Name">
            <br />
        
            <div class="input-group input-append date">
                <input id="datepicker" type="text" class="form-control" name="date" placeholder="Fair Date" />
                <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            <br />
            <input name="location" class="form-control" placeholder="Fair Location">
            <br />
            <input type="checkbox" name="private" value="private" checked=true> Private Fair
            <br />
            <p><small>A private fair requires students and mentors to get approval before joining. Anyone can join a public fair without approval.</small></p>
            <br /><br />
            <button class="btn btn-primary" type="submit">Create Fair</button>
        </form></div>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="card">
        <div class="header">
            <h4 class="title">Join a Fair</h4>
        </div>
        <div class="content">
            Join fair goes here.
        </div>
    </div>
</div>

{% endblock %}

{% block outerbody %}
<div id="fair-detail" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="fair-detail-header">Fair Name</h4>
      </div>
      <div class="modal-body">
        Fair Name:<br />
        <input type="text" class="form-control" id="fair-detail-name" placeholder="Fair Name"><br />
        Fair Location:<br />
        <input type="text" class="form-control" id="fair-detail-location" placeholder="Fair Location"><br />
        Fair Date:<br />
        <div class="input-group input-append date">
                <input id="fair-detail-date" type="text" class="form-control" placeholder="Fair Date" />
                <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
        <br />
        <input type="checkbox" id="fair-detail-private" value="private" checked=true> Private Fair<br />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="fair-update">Update</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block script %}
{{ super() }}
<script>
$(document).ready(function() {
    $("#navbar-manage").addClass('active'); 
    $("#datepicker").datepicker();
    $("#fair-detail-date").datepicker();
});
    
function fairDetails(event, id) {    
    // if it's the make primary cell, then don't show the details
    if (event.target.tagName === "BUTTON")
        return;
    
    var parameters = {
      id: id  
    };
    
    $.post("{{ url_for('ajax.fair_details') }}", parameters, function(data, textStatus) {
        $('#fair-detail-header').html(data['name']);
        $('#fair-detail-name').val(data['name']);
        $('#fair-detail-location').val(data['location']);
        $('#fair-detail-date').val(data['date']);
        $('#fair-detail-private').prop('checked', data['private']);
        $('#fair-detail').modal();
        $('#fair-update').click(function () {
            var parameters = {
                id : id,
                name : $('#fair-detail-name').val(),
                date : $('#fair-detail-date').val(),
                location : $('#fair-detail-location').val(),
                private : $('#fair-detail-private').prop('checked')
            }
            
            $.post("{{ url_for('ajax.fair_update') }}", parameters, function(data, textStatus) {
               location.reload(); 
            }, "json");
        })
    }, "json");
    
}
    
function makePrimary(id) {
    var parameters = {
        id: id
    }
    
    $.post("{{ url_for('ajax.make_primary') }}", parameters, function(data, textStatus) {
        location.reload();
    }, "json");
}

</script>
{% endblock %}