{% extends "fair/fairbase.html" %}

{% block contents %}

<div class="row">
    <div class="card">
        <div class="header">
            <h4 class="title">Pair Students and Mentors</h4>
        </div>
        <div class="content">
           <div class="row">
                <div class="col-sm-6">
                    <select id="student-select" class="form-control">
                        <option value=0 disabled selected>Select a Student</option>
                    </select>
                    <input type="checkbox" id="student-repeats"> Show already paired students
                </div>
                <div class="col-sm-6">
                    <select id="mentor-select" class="form-control">
                        <option value=0 disabled selected>Select a Mentor</option>
                    </select>
                    <input type="checkbox" id="mentor-repeats"> Show already paired mentors
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <br />
                    <button onclick="pair()" class="btn btn-primary">Pair</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="card">
        <div class="header">
            <h4 class="title">Current Pairings</h4>
        </div>
        <div class="content">
            <table id="pairing-table" class="table table-striped table-bordered" style="font-size:14px;" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Student</th>
                        <th>Mentor</th>
                        <th>Delete Pairing</th>
                    </tr>
                </thead>
                <tbody>
                   
                    {% for pairing in pairings %}
                    <tr>
                    <td>{{ pairing['student']['first'] }} {{ pairing['student']['last'] }}</td>
                    <td>{{ pairing['mentor']['first'] }} {{ pairing['mentor']['last'] }}</td>
                    <td><button onclick="removePairing('{{ pairing['_id']|string }}')" class="btn btn-xs btn-danger">Delete Pairing</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
{{ super() }}
<script>
$(document).ready(function() {
    $("#navbar-pairings").addClass('active');
    $('#student-repeats').prop('checked', false);
    $('#mentor-repeats').prop('checked', false);
    fillStudentPairing();
    fillMentorPairing();
    $('#student-repeats').change(function() {
        fillStudentPairing();
    });
    $('#mentor-repeats').change(function() {
        fillMentorPairing();
    });
    $('#pairing-table').DataTable();
});
    
function fillStudentPairing() {
    var parameters = {
        fair: "{{ fair['_id']|string }}",
        repeats: $('#student-repeats').prop('checked')
    }
        
    $.post("{{ url_for('ajax.students_to_pair') }}", parameters, function(data, textStatus) {
        contents = "<option value=0 disabled selected>Select a Student</option>";
        for (var i = 0; i <data.length; i++) {
            contents += "<option value='" + data[i]['id'] + "'>" + data[i]['first'] + " " + data[i]['last'] + "</option>";
        }
        $('#student-select').html(contents);
    }, "json");
}
    
function fillMentorPairing() {
    var parameters = {
        fair: "{{ fair['_id']|string }}",
        repeats: $('#mentor-repeats').prop('checked')
    }
        
    $.post("{{ url_for('ajax.mentors_to_pair') }}", parameters, function(data, textStatus) {
        contents = "<option value=0 disabled selected>Select a Mentor</option>";
        for (var i = 0; i <data.length; i++) {
            contents += "<option value='" + data[i]['id'] + "'>" + data[i]['first'] + " " + data[i]['last'] + "</option>";
        }
        $('#mentor-select').html(contents);
    }, "json");
}
    
function pair() {
    var parameters = {
        fair: "{{ fair['_id']|string }}",
        student: $('#student-select').val(),
        mentor: $('#mentor-select').val()
    }
    
    $.post("{{ url_for('ajax.pair') }}", parameters, function(data, textStatus) {
        location.reload(true);
    }, "json");
}

function removePairing(id) {
    var parameters = {
        fair: "{{ fair['_id']|string }}",
        id: id
    }
    
    $.post("{{ url_for('ajax.remove_pairing') }}", parameters, function(data, textStatus) {
        location.reload(true);
    }, "json");
}
    
</script>
{% endblock %}