{% extends "portal/portalbase.html" %}

{% block content %}
<h2>Participants</h2>
<hr>
<div class="row">
    <ul class="nav nav-tabs">
      <li id="navbar-roster"><a href="{{ url_for('participants.roster') }}">Roster</a></li>
      <li id="navbar-approvals"><a href="{{ url_for('participants.approvals') }}">Approvals</a></li>
      <li id="navbar-tasks"><a href="{{ url_for('participants.tasks') }}">Tasks</a></li>
      <li id="navbar-progress"><a href="{{ url_for('participants.progress') }}">Progress Report</a></li>
    </ul>
</div>
<br />
{% block contents %}{% endblock %}
{% endblock %}


{% block script %}
<script>
$(document).ready(function() {
    $('#sidebar-participants').addClass('active');   
});
</script>
{% endblock %}